body
{
	/*background-image: url("paysage.jpeg");*/
	background-color: #cccccc;
	/*font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;*/
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: small;
	/*background-color: #FFFFFF;*/
	color: #000000;
	margin-top: 0px;
}
