.booth
{
	width:640px;
	background-color:#ccc;
	border:10px solid #ddd;
	display:inline-block;
	float:left;
	/*width: 50%;*/
	margin:auto;
}

#photos
{
	text-align:center;
	float:left;
	/*display:flex; */
	height: 600px;
	width:300px;
	border: 3px solid black;
	margin-top : 200px;
	 overflow: scroll;
}

#chevron_gauche, #chevron_droit
{
	float:left;
	margin-top:500px;
}

#filtre
{
	position:absolute;
	/*width:60px;*/
	/*padding-left: 70px;*/
}

#filtre2
{
	position:absolute;
}

.booth-capture-button {
	display:block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color:cornflowerblue;
	color:#fff;
	text-align:center;
	text-decoration:none;
}

/*#canvas
{
	display:none;
}*/

#upload
{
	display:block;
	padding: 10px 20px;
	margin:auto;
	/*align:ce*/
	/*margin: 10px 0;
	background-color:cornflowerblue;
	color:#fff;
	text-align:center;
	text-decoration:none;*/
}

#send
{
	display:block;
	/*align:ce*/
	/*width:100px*/
	margin: auto;
	padding: 10px 270px;
	background-color:cornflowerblue;
	color:#fff;
	text-align:center;
	text-decoration:none;
}
/* #container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}

canvas, video
{
	position: relative;
}

#canvas
{
	position : relative;
}

#snap
{
	position : relative;
}

#video
{
	position : relative;
}

aside
{
	flex: 1.2;
	position: absolute;
	left: 100px;
	top: 200px;
	width: 200px;
	height: 100px;
	float:right;
	border : 3px solid black;
	background-color: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}

#fleche_bulle
{
	position: absolute;
	top: 100px;
	left: -12px;
}

#photo_zozor
{
	text-align: center;
}

#photo_zozor img
{
	border: 1px solid #181818;
}
*/
