#div_edit
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border : 3px solid black;
	border-radius : 12px;
	width : 600px;
	height : 400px;
	background-color: #DF514C;
}

.booth-capture-button {
	display:block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color:cornflowerblue;
	color:#fff;
	text-align:center;
	text-decoration:none;
}

#newpseudo, #newmail, #newpasswd, #newpasswd2, #newavatar, #envoyer
{
	display: none;
}

#return_img
{
	float:left;
	width:50;
	padding-left: 20px;
	display: none;
}

body
{
	/*background-image: url("paysage.jpeg");*/
	background-color: #FFFFFF;
	/*font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;*/
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: small;
	/*background-color: #FFFFFF;*/
	color: #000000;
	margin-top: 0px;
}

.input_edit
{
	border-radius: 5px;
	width : 200px;
	height: 20px;
}


input[type=text] input[type=email] input[type=password]
{

}

input[type=submit]
{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	/*margin: 4px 2px;*/
	cursor: pointer;
	border-radius: 12px;
	border : 1px solid black;
}
