/* Footer */


footer
{
	/*display: flex;*/
	background:  url('images/ico_top.png') no-repeat top center, url('images/ombre.png') repeat-x top;
	/*padding-top: 25px;
	padding: 20px 0px;
	font-size: 12px;*/
	background-color: #DF514C;
	border-top: 1px solid #3a3a3a;
	color: #FFF;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer p
{
	font-size: 0.8em;
	margin:auto;
}

footer h1
{
	font-size: 1.1em;
}
#footer_test
{
	text-align: center;
	margin: auto;

}
