/* Footer */


footer
{
	/*display: flex;*/
	background:  url('images/ico_top.png') no-repeat top center, url('images/ombre.png') repeat-x top;
	/*padding-top: 25px;
	padding: 20px 0px;
	font-size: 12px;*/
	background-color: #1f1f1f;
	border-top: 1px solid #3a3a3a;
	color: #777;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer p
{
	font-size: 0.8em;
	margin:auto;
}

footer h1
{
	font-size: 1.1em;
}
#footer_test
{
	text-align: center;
	margin: auto;

}
#tweet
{
	width: 28%;
}

#mes_photos
{
	width: 35%;
}

#mes_amis
{
	width: 31%;
}

#mes_photos img
{
	border: 1px solid #181818;
	margin-right: 2px;
}

#listes_amis
{
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	margin-right : 30px;
}

#mes_amis ul
{
	list-style-image: url('images/ico_liensexterne.png');
	padding-left: 2px;
}

#mes_amis a
{
	text-decoration: none;
	color: #760001;
}
