
body
{
	margin: 0px;
}

#header
{
	height: 80px;
	background: #DF514C;
}

#titre_principal
{
	display: flex;
	flex-direction: column;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-top: 20px;
}

#logo img
{
	width: 59px;
	height: 60px;
}

#header h1
{
	font-family: 'BallparkWeiner', serif;
	font-size: 2.5em;
	font-weight: normal;
	color : #FFFFFF;
	margin: 0 0 0 10px;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	font-family: "open-sans";
}

nav a
{
	font-size: 1.3em;
	color: #181818;
	padding: 12.5px 12.5px 12.5px 12.5px;
	text-decoration: none;
}

nav a:hover
{
	color: #DF514C;
	background-color: #C6EBFD;
}
