#div_profil
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:400px;
	height:300px;
	border: 3px solid black;
	border-radius:12px;

}

section
{
	display: flex;
	margin-bottom: 20px;
}

body
{
	/*background-image: url("paysage.jpeg");*/
	background-color: #D7DDE8;
	/*font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;*/
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: small;
	/*background-color: #FFFFFF;*/
	color: #000000;
	margin-top: 0px;
}
